# (c) https://github.com/Microsoft/TypeScript-Node-Starter/blob/master/.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# coverage reports
coverage

# api keys and secrets
.env

# dependency directory
node_modules
bower_components

# editors
.idea
.vscode
*.iml

# os metadata
.DS_Store
Thumbs.db

# ignore build directory
dist
