<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>JKU Room Search</title>

    <meta
      name="description"
      content="Search for free rooms on the campus of the Johannes Kepler University Linz"
    />
    <meta name="author" content="Mario Kahlhofer" />

    <meta
      name="google-site-verification"
      content="UE1rw2-rFebYbiMAHFe9wla7bkV-gpLZQgU4PjZUe0Q"
    />

    <script
      type="text/javascript"
      src="https://js-cdn.dynatracelabs.com/jstag/1468ae7109d/bf83410uas/54bcac95eb286ee9_complete.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon-16x16.png"
    />
    <link rel="manifest" href="site.webmanifest" />

    <script type="text/javascript">
      window.addEventListener("load", function () {
        ua = navigator.userAgent;
        if (ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1) {
          document.getElementById("iesupport").style.display = "block";
        }
      });
    </script>
  </head>

  <body>
    <div id="cover">
      <noscript>
        <div class="text-center mb-3 pt-2 pb-1 bg-danger text-white">
          <h5 class="fw-light">🤖 Please enable JavaScript</h5>
        </div>
      </noscript>
      <div
        id="iesupport"
        class="text-center mb-3 pt-2 pb-1 bg-danger text-white"
        style="display: none"
      >
        <h5 class="fw-light">
          🙄 Please use a browser other than Internet Explorer
        </h5>
      </div>
    </div>

    <div class="text-center mt-5">
      <h2 class="fw-normal">jkuroomsearch<span class="fw-light">.app</span></h2>
      <h6 class="fw-normal">
        <img src="images/favicon-32x32.png" class="subtitle-logo" /> SPACE FOR
        FREE ROOMS
      </h6>
    </div>

    <div class="container py-3">
      <form id="form" action="#">
        <div class="d-flex flex-row flex-wrap justify-content-center">
          <div class="flex-column m-3">
            <div id="datepicker" class="air-datepicker-prerender"></div>
          </div>

          <div
            class="flex-column flex-md-grow-0 col-md-3 m-3"
            style="flex-grow: 1"
          >
            <div class="mb-3">
              <label for="fromTime" class="form-label"
                >I need a room from</label
              >
              <select class="form-select" id="fromTime"></select>
            </div>
            <div class="mb-3">
              <label for="toTime" class="form-label"
                >and at least until
                <small class="small text-muted ps-2">(optional)</small></label
              >
              <select class="form-select" id="toTime">
                <option value="-1">doesn't matter</option>
              </select>
            </div>
            <div class="pt-4 d-grid gap-1">
              <button
                id="button"
                type="submit"
                class="btn btn-primary"
                disabled
              >
                <span
                  id="spinner"
                  class="spinner-border spinner-border-sm"
                  style="display: none"
                  role="status"
                ></span>
                <span id="buttonText">Search for free rooms</span>
              </button>
              <small id="versionText" class="text-center text-muted"></small>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="container py-3">
      <div class="row">
        <div class="col-md-6 mx-auto table-responsive">
          <div
            id="teaserBlock"
            class="text-center mb-3 pt-2 pb-1 bg-secondary text-white"
            style="display: none"
          >
            <h5 id="teaserText" class="fw-light"></h5>
          </div>

          <div id="results" style="display: none; opacity: 0">
            <div class="d-grid gap-3">
              <small class="text-center text-muted mb-3">
                Please note that these results are based on room bookings from
                <a href="http://kusss.jku.at">kusss.jku.at</a>.<br
                  class="desktop-break"
                />&nbsp;Extraordinary room bookings may still occur.
              </small>

              <span id="anchor"></span>

              <table class="table table-sm">
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      href="https://github.com/blu3r4y/jku-room-search"
      class="github-corner"
      aria-label="View source on GitHub"
      ><svg width="80" height="80" viewBox="0 0 250 250" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path
          d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
          fill="currentColor"
          style="transform-origin: 130px 106px"
          class="octo-arm"
        ></path>
        <path
          d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
          fill="currentColor"
          class="octo-body"
        ></path></svg
    ></a>
  </body>
</html>
