html {
  overflow-y: scroll;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}

.capacity {
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .desktop-break {
    display: none;
  }
}

.subtitle-logo {
  padding-right: 0.15rem;
  padding-bottom: 0.15rem;
  width: 18px;
  height: 18px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  fill: #007bff;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.datepicker-prerender {
  min-width: 250px;
  min-height: 250px;
}

.datepicker--cell.-current- {
  color: #007bff;
}

.datepicker--cell.-selected- {
  background: #007bff;
}

.datepicker--cell.-selected-.-current- {
  background: #007bff;
}

.datepicker--cell.-selected-.-focus- {
  background: #0069d9;
}

.datepicker--day-name {
  color: #007bff;
}

.datepicker--button {
  color: #007bff;
}

.animate-fade-cover {
  animation: fade-cover 0.2s ease-in forwards;
}

@keyframes fade-cover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-flash {
  animation: fade-flash 0.4s ease-out forwards;
}

@keyframes fade-flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
}
