.subtitle-logo {
    padding-right: 0.15rem;
    padding-bottom: 0.15rem;
    width: 18px;
    height: 18px;
}

.github-corner {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.datepicker-prerender {
    min-width: 250px;
    min-height: 250px;
}

.datepicker--cell.-current- {
    color: #007bff;
}

.datepicker--cell.-selected- {
    background: #007bff;
}

.datepicker--cell.-selected-.-current- {
    background: #007bff;
}

.datepicker--cell.-selected-.-focus- {
    background: #0069d9;
}

.datepicker--day-name {
    color: #007bff;
}

.datepicker--button {
    color: #007bff;
}